In [124]:
import statsmodels.api as sm
import numpy as np 
from tabulate import tabulate 
import pandas as pd
import statsmodels.formula.api as smf
from statsmodels.formula.api import ols
from linearmodels.panel import PanelOLS
from statsmodels.stats.stattools import durbin_watson

In [5]:
file_path = r'C:\Users\BRIDGET\Documents\My Spring 2024\My Spring Folder 2024\Econometrics 710\Python codes and Data\Hurricane B.csv'
df2 = pd.read_csv(file_path)

In [8]:
df2.head(10)

,Year,State,Abb,atkin05,gini,rmeandev,theil,top10,top1,Hurricane Description,...,ME,MA,MS,NY,NC,RI,SC,TX,VA,Time
0,1946,Alabama,AL,0.183414,0.450865,0.609678,0.445901,0.339533,0.117825,NONE,...,0,0,0,0,0,0,0,0,0,31
1,1946,Connecticut,CT,0.184396,0.447319,0.601974,0.461086,0.337660,0.124504,NONE,...,0,0,0,0,0,0,0,0,0,31
2,1946,Florida,FL,0.213012,0.484664,0.670380,0.556997,0.379006,0.133172,"5,6",...,0,0,0,0,0,0,0,0,0,31
3,1946,Georgia,GA,0.185232,0.443881,0.612569,0.460402,0.346242,0.123761,NONE,...,0,0,0,0,0,0,0,0,0,31
4,1946,Louisiana,LA,0.171094,0.427402,0.579887,0.411916,0.319825,0.109108,NONE,...,0,0,0,0,0,0,0,0,0,31
5,1946,Maine,ME,0.171934,0.440724,0.601420,0.398397,0.316969,0.101663,NONE,...,1,0,0,0,0,0,0,0,0,31
6,1946,Massachusetts,MA,0.172572,0.431320,0.583594,0.422054,0.327615,0.118184,NONE,...,0,1,0,0,0,0,0,0,0,31
7,1946,Mississippi,MS,0.199282,0.481591,0.663530,0.476658,0.360990,0.117701,NONE,...,0,0,1,0,0,0,0,0,0,31
8,1946,New York,NY,0.207056,0.473615,0.649174,0.543472,0.375975,0.141305,NONE,...,0,0,0,1,0,0,0,0,0,31
9,1946,North Carolina,NC,0.192032,0.454558,0.620692,0.494478,0.349086,0.128649,NONE,...,0,0,0,0,1,0,0,0,0,31

In [9]:
print(df2.columns)

Index(['Year', 'State', 'Abb', 'atkin05', 'gini', 'rmeandev', 'theil', 'top10',
       'top1', 'Hurricane Description', ' Base Economic Damage ',
       'Normalized PL05', 'Normalized CL05', 'Category', 'CT', 'FL', 'GA',
       'LA', 'ME', 'MA', 'MS', 'NY', 'NC', 'RI', 'SC', 'TX', 'VA', 'Time'],
      dtype='object')

In [10]:
Normalized_PL05 = df2[['Normalized PL05']]
df2.head(5)

,Year,State,Abb,atkin05,gini,rmeandev,theil,top10,top1,Hurricane Description,...,ME,MA,MS,NY,NC,RI,SC,TX,VA,Time
0,1946,Alabama,AL,0.183414,0.450865,0.609678,0.445901,0.339533,0.117825,NONE,...,0,0,0,0,0,0,0,0,0,31
1,1946,Connecticut,CT,0.184396,0.447319,0.601974,0.461086,0.337660,0.124504,NONE,...,0,0,0,0,0,0,0,0,0,31
2,1946,Florida,FL,0.213012,0.484664,0.670380,0.556997,0.379006,0.133172,"5,6",...,0,0,0,0,0,0,0,0,0,31
3,1946,Georgia,GA,0.185232,0.443881,0.612569,0.460402,0.346242,0.123761,NONE,...,0,0,0,0,0,0,0,0,0,31
4,1946,Louisiana,LA,0.171094,0.427402,0.579887,0.411916,0.319825,0.109108,NONE,...,0,0,0,0,0,0,0,0,0,31

In [15]:
df2 = df2.set_index(['State', 'Time'], drop=False)
df2 = df2.sort_index()

In [33]:
dependent_variable = df2['gini']
independent_variables = df2[['Time','Normalized PL05', 'CT', 'FL', 'GA',
                             'LA', 'ME', 'MA', 'MS', 'NY', 'NC', 'RI', 'SC', 'TX', 'VA']]

In [117]:
model = 'gini ~ 1 + Time + Q("Normalized PL05") + CT + FL + GA + LA + ME + MA + MS + NY + NC + RI + SC + TX + VA'

mod = PanelOLS.from_formula(model, data=df2)

# Fit the model
results = mod.fit()
print(results)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                   gini   R-squared:                        0.8712
Estimator:                   PanelOLS   R-squared (Between):              0.9992
No. Observations:                 840   R-squared (Within):               0.8619
Date:                Sat, Feb 17 2024   R-squared (Overall):              0.8712
Time:                        12:49:53   Log-likelihood                    2006.1
Cov. Estimator:            Unadjusted
                                        F-statistic:                      371.57
Entities:                          14   P-value                           0.0000
Avg Obs:                       60.000   Distribution:                  F(15,824)
Min Obs:                       60.000
Max Obs:                       60.000   F-statistic (robust):             371.57
                                        P-value                           0.0000
Time periods:                      60   Distribution:                  F(15,824)
Avg Obs:                       14.000
Min Obs:                       14.000
Max Obs:                       14.000

                                  Parameter Estimates
========================================================================================
                      Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
----------------------------------------------------------------------------------------
Intercept                0.2950     0.0039     74.802     0.0000      0.2872      0.3027
CT                       0.0157     0.0041     3.8497     0.0001      0.0077      0.0237
FL                       0.0348     0.0041     8.4108     0.0000      0.0267      0.0430
GA                       0.0109     0.0041     2.6810     0.0075      0.0029      0.0189
LA                       0.0160     0.0041     3.9024     0.0001      0.0079      0.0240
MA                       0.0021     0.0041     0.5156     0.6063     -0.0059      0.0101
ME                      -0.0111     0.0041    -2.7330     0.0064     -0.0191     -0.0031
MS                       0.0195     0.0041     4.7909     0.0000      0.0115      0.0275
NC                      -0.0021     0.0041    -0.5174     0.6050     -0.0102      0.0059
NY                       0.0259     0.0041     6.3453     0.0000      0.0179      0.0339
Q('Normalized PL05')  8.323e-13   2.07e-13     4.0201     0.0001   4.259e-13   1.239e-12
RI                      -0.0098     0.0041    -2.4120     0.0161     -0.0178     -0.0018
SC                      -0.0087     0.0041    -2.1453     0.0322     -0.0168     -0.0007
TX                       0.0357     0.0041     8.7577     0.0000      0.0277      0.0438
Time                     0.0032  4.476e-05     71.284     0.0000      0.0031      0.0033
VA                      -0.0027     0.0041    -0.6615     0.5085     -0.0107      0.0053
========================================================================================

In [116]:
coefficients = results.params
std_errors = results.std_errors
t_stats = results.tstats
p_values = results.pvalues

# Create a DataFrame to hold the results
summary_df = pd.DataFrame({
    'Variable': coefficients.index,
    'Coefficient': np.round(coefficients.values, 6),
    'SE.': np.round(std_errors.values, 6),      
    'P-value': np.round(p_values.values, 6)           
})

# Now you'll need to define your desired custom order based on the actual model variables
custom_order = ['Intercept', "Q('Normalized PL05')", 'Time', 'CT', 'FL', 'GA', 'LA', 'ME', 'MA', 'MS', 'NY', 'NC', 'RI', 'SC', 'TX', 'VA']

# Ensure the 'Variable' column is set as the DataFrame index for reordering
summary_df.set_index('Variable', inplace=True)
summary_df = summary_df.reindex(custom_order).reset_index()

# Display or export your rounded custom summary table
print(summary_df)

                Variable  Coefficient       SE.   P-value
0              Intercept     0.294953  0.003943  0.000000
1   Q('Normalized PL05')     0.000000  0.000000  0.000064
2                   Time     0.003190  0.000045  0.000000
3                     CT     0.015697  0.004078  0.000127
4                     FL     0.034833  0.004142  0.000000
5                     GA     0.010932  0.004078  0.007487
6                     LA     0.015973  0.004093  0.000103
7                     ME    -0.011144  0.004078  0.006411
8                     MA     0.002102  0.004078  0.606295
9                     MS     0.019538  0.004078  0.000002
10                    NY     0.025878  0.004078  0.000000
11                    NC    -0.002120  0.004099  0.605045
12                    RI    -0.009835  0.004078  0.016084
13                    SC    -0.008748  0.004078  0.032219
14                    TX     0.035740  0.004081  0.000000
15                    VA    -0.002697  0.004078  0.508478

In [113]:

model = 'gini ~ 1 + Time + Q("Normalized PL05") + CT + FL + GA + LA + ME + MA + MS + NY + NC + RI + SC + TX + VA'

Table 2 Fixed-effects regression results for years 1970–2005

In [122]:
print("\nTable 2 Fixed-effects regression results for years 1946–2005")
print(tabulate(summary_df, headers='keys', tablefmt='pretty', showindex=False))

print(f"R-squared: {results.rsquared:.4f}")
# Adjusted R-squared calculation
r_squared = results.rsquared
n = results.nobs
p = len(results.params) - 1  
adjusted_r_squared = 1 - (1 - r_squared) * (n - 1) / (n - p - 1)
print(f"Adjusted R-squared: {adjusted_r_squared:.4f}")

#print F-statistic and its p-value for linearmodels.PanelOLS results
if hasattr(results, 'f_statistic'):
    f_stat = results.f_statistic
    print(f"F-statistics: {f_stat.stat:.4f}   Prob (F-statistic): {f_stat.pval:.4f}")
else:
    print("F-statistic and its p-value are not available.")

dw_stat = durbin_watson(results.resids)
print(f'Durbin-Watson statistic: {np.round(dw_stat, 4)}')
print(f"Number of observations: {results.nobs:,}")

Table 2 Fixed-effects regression results for years 1946–2005
+----------------------+-------------+----------+----------+
|       Variable       | Coefficient |   SE.    | P-value  |
+----------------------+-------------+----------+----------+
|      Intercept       |  0.294953   | 0.003943 |   0.0    |
| Q('Normalized PL05') |     0.0     |   0.0    | 6.4e-05  |
|         Time         |   0.00319   | 4.5e-05  |   0.0    |
|          CT          |  0.015697   | 0.004078 | 0.000127 |
|          FL          |  0.034833   | 0.004142 |   0.0    |
|          GA          |  0.010932   | 0.004078 | 0.007487 |
|          LA          |  0.015973   | 0.004093 | 0.000103 |
|          ME          |  -0.011144  | 0.004078 | 0.006411 |
|          MA          |  0.002102   | 0.004078 | 0.606295 |
|          MS          |  0.019538   | 0.004078 |  2e-06   |
|          NY          |  0.025878   | 0.004078 |   0.0    |
|          NC          |  -0.00212   | 0.004099 | 0.605045 |
|          RI          |  -0.009835  | 0.004078 | 0.016084 |
|          SC          |  -0.008748  | 0.004078 | 0.032219 |
|          TX          |   0.03574   | 0.004081 |   0.0    |
|          VA          |  -0.002697  | 0.004078 | 0.508478 |
+----------------------+-------------+----------+----------+
R-squared: 0.8712
Adjusted R-squared: 0.8689
F-statistics: 371.5667   Prob (F-statistic): 0.0000
Durbin-Watson statistic: 0.4123
Number of observations: 840